<html>
<head>
  <% include partials/meta.html.ejs %>
  <link rel="stylesheet" href="/style2.css" />
  <script src="//use.typekit.net/ohd3igy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body class="full" onload="document.body.setAttribute('class','full loaded')">
  <div id="splash" class="main" style="background-image: url('/photos/splash-lores.jpg');">
    <script>
      var img = new Image()
      img.src = '/photos/splash.jpg'
      img.onload = function () {
        document.getElementById('splash').style.backgroundImage = 'url(/photos/splash.jpg)';
      }
    </script>

    <div class="meat">
      <div class="details">
        <div>
   <h1> Wedding of the century </h1>
   <h1> Kingusia ❤️ Arek</h1>
          <h3>16 May 2020</h3>
          <h3>
            Hotel Platinum Palace<br />
            Wroclaw<br />
          </h3>
        </div>
      </div>

    </div>
  </div>

  <nav>
    <div>
      <a href="#">Kingusia + Arek</a>
      <ul>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#location">Location</a></li>
        <li><a href="#lodging">Lodging</a></li>
        <li><a href="#guide">Guide</a></li>
        <li><a href="#gifts">Gifts</a></li>
      </ul>
    </div>
  </nav>
  <script type="text/javascript">
    var nav = document.getElementsByTagName('nav')[0]
    var pos = nav.offsetTop
    var sticky = false;
    window.addEventListener('resize', function () {
      pos = nav.offsetTop
    })
    window.addEventListener('scroll', function () {
      if (!sticky && window.scrollY > pos) {
        nav.style.position = 'fixed'
        sticky = true
      } else if (sticky && window.scrollY < pos) {
        nav.style.position = ''
        sticky = false
      }
    })
  </script>

  <section id="schedule">
    <div class="header">
      <div class="content">
        <h2>Schedule</h2>
      </div>
    </div>

    <div class="content">

      <p>Ceremony takes place in:</p>

      <h4>Platinum Palace</h4>

      <p class="meta">Powstańców Śląskich 204, 53-140 Wrocław, Polska</p>

      <h3>16 Maj 2020</h3>



<p class="meta">

17:30 </p><p>
Marriage ceremony</p>
<p class="meta">18:30 - 18:45 </p>
<p> – Dinner and wedding cake</p>
<p class="meta">21:00</p>
<p> – First Dance</p>
<p class="meta">21:30</p>
<p> – Dessert buffet</p>
<p class="meta">22:00 - 4:00</p>
<p> 🎉Party🎉 Free beer 🍻 and other alcoholic drinks🍾 Bartender present 👩‍🍳</p>


    </div>
  </section>

  <section id="location">
    <div class="header">
      <div class="content">
        <h2>Wrocław, Dolnoślaskie</h2>
      </div>
    </div>
    <div class="content">

      <p>Wrocław (pronounced Vrots-wav; also known as Breslau, its German name, and English name until 1945) is the largest city in Lower Silesia in Poland. It is home to 630,000 people within the city limits and the metropolitan area has a population of 1.2 million making it the largest city in Western Poland.

Wrocław is the historic capital of Silesia and it has changed hands repeatedly over the centuries. At different points throughout history, Wrocław has been in the Kingdom of Poland, Bohemia, the Austrian Empire, Prussia and Germany. In 1945 the city became a part of Poland again as the borders of Poland were moved westwards in the immediate aftermath of World War II. The city came to international fame as it hosted a number of football matches during the Euro 2012 Championships and was one of the 2016 European Capitals of Culture. The World Games took place in Wrocław in 2017. </p>

      <h3>Hot to get there</h3>

      <div class="columns">
        <div>
          <a href="https://www.google.com/maps/dir/Port+lotniczy+Londyn-Luton/@51.8762646,-0.3717471,15z/data=!4m5!3m4!1s0x0:0x2e06e7f34ad91ad0!8m2!3d51.8762646!4d-0.3717471" target="_blank">
            <div class="map"><iframe frameborder="0" src="https://www.google.com/maps/d/embed?mid=1JvrWMeCvdcl9zre_bkJ9R5Fazsg&hl=en&ie=UTF8&msa=0&ll=51.879673664439075%2C-0.3754420000000209&spn=0.036304%2C0.077162&output=embed&z=14"></iframe></div>

            <h4>London Luton Airport</h4>
          </a>
          <p>From London it's easiest to get to Wrocław via a plane from London Luton airport. The flight takes 1.5 hours.</p>
        </div>

        <div>
          <a href="https://www.google.com/maps/dir/LAX/Ace+Hotel+%26+Swim+Club/@33.9428199,-118.0346983,9z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x80c2b0d213b24fb5:0x77a87b57698badf1!2m2!1d-118.40853!2d33.9415889!1m5!1m1!1s0x80db1b14883839e1:0x9a6d0c4d3dba305c!2m2!1d-116.540414!2d33.800938" target="_blank">
            <div class="map"><iframe frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJOUwrQ3LAD0cR6pemW8i1m7k&destination=place_id:ChIJvYETHUrCD0cR5NXoTtBI9WQ&key=AIzaSyAsoTOqJXsA0HGfOTFy6UEqwOqJkphvWpU"></iframe></div>
            <h4>Wrocław Airport to Platinum Palace</h4>
          </a>
          <p>Platinum Palace is located a 20 minute drive from Wrocław airport. The aiport is very small, you shouldn't spend more than 20 minutes after landing there. Uber's and Taxis are incredibly cheap in Poland, the drive from aiport to hotel will cost you less than 10 pounds.</p>
        </div>
      </div>

      <div class="weather">
      <h3>Weather Report</h3>
      <p>
        Wrocław that time of year is very warm. Here's the weather report from last year. It should be similar to typical London weather.
      </p>
      <a href="https://www.ekologia.pl/pogoda/polska/dolnoslaskie/wroclaw/archiwum,maj,2019,20" target="_blank">
        <div class="weather-glyph">
          <img style="margin-left:50px" src="/sunny.png" />
          <span class="high">22°C</span>
          <span class="low">14°C</span>
        </div>
      </a>
      </div>

    </div>
  </section>

  <section id="lodging">
    <div class="header">
      <div class="content">
        <h2>Stay With Us</h2>
      </div>
    </div>
    <div class="content">

      <h3><a href="http://www.platinumpalace.pl/" target="_blank">
        Platinum Palace</a></h3>
      <p class="meta">Booking: +48 71 327 06 00</p>
      <p>Not only are all the events at the Platinum Palace, but so are we. Call the hotel
      and mention our names to get a discounted rate and access reserved rooms.
      Between the glamour architecture, great food, pools and spa, it's
      quite a peaceful and relaxing place to be. We really hope you'll stay with us.</p>

      <div class="wrap-photogrid">
        <a href="http://www.platinumpalace.pl/" target="_blank">
          <img src="http://u.profitroom.com/2014.platinumpalace.pl/thumb/1600x900/uploads/resturacja_wroclaw.jpg" width="170" /></a>
        <a href="http://www.platinumpalace.pl/" target="_blank">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfO47215NoQpmqx8BqMk_QcnfhcJyINpkMui9x-VqHqQUCn067" width="170" /></a>
        <a href="http://www.platinumpalace.pl/" target="_blank">
          <img src="/photos/ace/ace3.jpg" width="170" /></a>
        <a href="http://www.platinumpalace.pl/" target="_blank">
          <img src="http://u.profitroom.com/wroclaw.platinumpalace.pl/uploads/spa/Platinum_palace97_108614865850189_333528_5875257_n1.jpg" width="170" /></a>
      </div>

      <h3>Alternatives</h3>
      <p>If you prefer to stay elsewhere, there are a number of alternative hotels
      within 10-15 minute driving range.</p>

      <div class="columns">
        <div class="place">
          <a href="https://www.google.com/travel/hotels/Wroc%C5%82aw/entity/CgsIjKu0kP-zuLmNARAB?g2lb=4208993%2C4223281%2C4252074%2C4253230%2C4254308%2C4258168%2C4260007%2C4265959%2C4270442%2C4274032%2C4274649%2C4276660%2C4284819%2C4251519%2C4265427%2C4267036%2C4270859%2C4272930%2C4280642&hl=pl&gl=uk&un=1&q=hotele%20wroclaw&rp=OAFAAEgC&ictx=1&ved=2ahUKEwjoo7aP_LTjAhUyrHEKHbcjAKkQvS4wAnoECAoQMw&hrf=CgQIRhAAIgNHQlAqFgoHCOMPEAcYEBIHCOMPEAcYERgBKABYAaoBHgoCCCESAggVEgIIDRICCGcSAghbEgIILxICCFQYAaoBCwoCCBISAwibARgBqgEKCgIIHBICCFEYAaoBCwoCCC4SAwiAARgBqgEKCgIIUBICCE8YAaoBBwoDCP0BGACSAQIgAQ&tcfs=EhoaGAoKMjAxOS0wNy0xNhIKMjAxOS0wNy0xN1IA" target="_blank">
            <img src="https://lh3.googleusercontent.com/p/AF1QipPpRlI0ZN5VyXWyV3eiCjkLhqjF49ATOh8WjPtQ=w592-h404-n-k-no-v1-rj" width="300" />
            <h4>B&B Hotel Wrocław Centrum</h4>
          </a>
        </div>

        <div class="place">
          <a href="https://www.google.com/travel/hotels/Wroc%C5%82aw/entity/CgsI7ebf9LSEwZGSARAB?g2lb=4208993%2C4223281%2C4252074%2C4253230%2C4254308%2C4258168%2C4260007%2C4265959%2C4270442%2C4274032%2C4274649%2C4276660%2C4284819%2C4251519%2C4265427%2C4267036%2C4270859%2C4272930%2C4280642&hl=pl&gl=uk&un=1&q=hotel%20wroclaw&rp=OAFAAEgC&ictx=1&ved=2ahUKEwid3c-7_LTjAhWGRBUIHfhfAHEQvS4wAnoECAoQMw&hrf=CgQIRhAAIgNHQlAqFgoHCOMPEAcYEBIHCOMPEAcYERgBKABYAaoBHgoCCCESAggVEgIIDRICCGcSAghbEgIILxICCFQYAaoBCwoCCBISAwibARgBqgEKCgIIHBICCFEYAaoBCwoCCC4SAwiAARgBqgEKCgIIUBICCE8YAaoBBwoDCP0BGACSAQIgAQ&tcfs=EhoaGAoKMjAxOS0wNy0xNhIKMjAxOS0wNy0xN1IA" target="_blank">
            <img src="https://lh3.googleusercontent.com/p/AF1QipPLHHGl6nses-kIgoKVDkuSoGDbP12W7HWfc_tR=w592-h404-n-k-no-v1-rj" width="300" />
            <h4>Europeum Hotel Wrocław</h4>
          </a>
        </div>

        <div class="place">
          <a href="https://www.google.com/travel/hotels/Wroc%C5%82aw/entity/CgsIuYbh1LnMhKyQARAB?g2lb=4208993%2C4223281%2C4252074%2C4253230%2C4254308%2C4258168%2C4260007%2C4265959%2C4270442%2C4274032%2C4274649%2C4276660%2C4284819%2C4251519%2C4265427%2C4267036%2C4270859%2C4272930%2C4280642&hl=pl&gl=uk&un=1&q=hotel%20wroclaw&rp=OAFAAEgC&ictx=1&ved=2ahUKEwid3c-7_LTjAhWGRBUIHfhfAHEQvS4wA3oECAoQPA&hrf=CgQIRhAAIgNHQlAqFgoHCOMPEAcYEBIHCOMPEAcYERgBKABYAaoBHgoCCCESAggVEgIIDRICCGcSAghbEgIILxICCFQYAaoBCwoCCBISAwibARgBqgEKCgIIHBICCFEYAaoBCwoCCC4SAwiAARgBqgEKCgIIUBICCE8YAaoBBwoDCP0BGACSAQIgAQ&tcfs=EhoaGAoKMjAxOS0wNy0xNhIKMjAxOS0wNy0xN1IA" target="_blank">
            <img src="https://lh3.googleusercontent.com/p/AF1QipPZoIZ7VCfQywFokd_2Ogy3alngwb9gmS309URe=w592-h404-n-k-no-v1-rj" width="300" />
            <h4>The Granary La Suite</h4>
          </a>
        </div>
      </div>

    </div>
  </section>

  <section id="guide">
    <div class="header">
      <div class="content">
        <h2>Travel Guide</h2>
      </div>
    </div>
    <div class="content">

      <p>Wroclaw. We hope that you get a little
      extra time to find an adventure or something tasty. We've collected a
      few suggestions of our favorite things to eat, see, and do.</p>

      <div class="columns guide">

        <div>
          <h3>Food &amp; Drink</h3>

          <a class="place" href="http://centralcafe.pl/" target="_blank">
            <img src="https://go.wroclaw.pl/api/download/img-c65daca10a18003d721aa65fb52e822d/central-cafe1-jpg.jpg" />
            <h4>Central Cafe</h4>
          </a>
          <p>A small, beautiful cafe right in the center of Wrocław. </p>

          <a class="place" href="https://www.facebook.com/bulkazmaslemwroclaw/" target="_blank">
            <img src="http://bi.gazeta.pl/im/62/2d/11/z18011234Q.jpg" />
            <h4>Cheeky's</h4>
          </a>
          <p>Beatiful outdoor cafe, location of uncountable dates of the young couple.</p>

          <a class="place" href="https://www.facebook.com/korbakuchnia/" target="_blank">
            <img src="https://www.wroclaw.pl/files/cmsdocuments/22750702/_PJT4355.jpg" />
            <h4>Lappert's</h4>
          </a>
          <p>Incredibly posh restaurant, frequented by the young couple when they wanted to feel fancy after a day of work.</p>
        </div>

        <div>
          <h3>Tourist things</h3>

          <a class="place" href="" target="_blank">
            <img src="https://img.theculturetrip.com/1024x/smart/images/56-3692920-14351394621c824b5f1cdc4ab5a1d00a2859942236.jpg" />
            <h4>Panorama Racławicka</h4>
          </a>
          <p>The Panorama of the Battle of Racławice is a huge 19th-century painting, whose height reaches 15 meters and length 114 meters. This unique panorama artwork is located in a round building, in a special room dedicated solely to it, where, due to extra effects such as the light and the artificial terrain right before the painting’s ground, the observer feels inserted in the picture himself. The battle presented on the artwork really took place, and therefore depicts a large number of Polish historical figures and places.</p>

          <a class="place" href="http://www.scootpalmsprings.com" target="_blank">
            <img src="https://img.theculturetrip.com/1024x/smart/images/56-3692922-1435139466a14278b83ce044e9987a8d7406e69f5d.jpg" />
            <h4>Market Square</h4>
          </a>
          <p>The Monument of an Anonymous Passer-by is constituted by 14 modern, bronze sculptures situated on the Świdnicka street of Wrocław. Amongst the anonymous people you can spot a woman with a child, a man carrying his luggage, an elderly person, and other typical characters we meet every day, no matter where we go. What is special about these sculptures is that as we approach the road, each one of them ‘vanishes’ deeper and deeper into the ground. The monument was originally created by the artist Jerzy Kalina in 1977 and later on moved from one of Wrocław’s museums onto the streets. Although there are many different interpretative possibilities, the monument definitely reminds us of the passing time and our changing with it.</p>

          <a class="place" href="http://www.nps.gov/jotr" target="_blank">
            <img src="https://img.theculturetrip.com/1024x/smart/images/56-3692930-1435139483dc65caaf0c0c4430a1eac5efc9c0baed.jpg" />
            <h4>Wrocław’s Multimedia Fountain</h4>
          </a>
          <p>The Multimedia Fountain, created in 2009 to celebrate the 20th anniversary of Polish democratic elections, is located in the colorful Szczytnicki Park and next to the Centennial Hall. It comprises 300 nozzles that together create wonderful water multimedia shows with the use of music and color effects. The shows take place every hour. Additionally, the longer, special shows take place at 10 pm during July and August, and a bit earlier during September and October.</p>
        </div>

      </div>

      <div class="columns guide">

        <div>
          <h3>Art &amp; Tourist things continued</h3>

          <a class="place" href="http://psmuseum.com/" target="_blank">
            <img src="https://img.theculturetrip.com/1024x/smart/images/56-3692932-1435139487943444c69beb496cbc30f0ba352104aa.jpg" />
            <h4>Centennial Hall</h4>
          </a>
          <p>Hala Stulecia, or the Centennial Hall, figures on the UNESCO World Heritage List since 2006. Constructed in the 20th century by Max Berg, it is the most important cultural hall in the whole of Poland, hosting a number of concerts, conferences, exhibitions, and other similar events. The design is a clever eclectic combination of tradition and modernity, similarly to the events hosted in the hall. The Centennial Hall is located near the Szczytnicki Park and the Multimedia Fountain, and there is a possibility of visiting it aside from the events.</p>

          <a class="place" href="http://www.palmspringsmoderntours.com/" target="_blank">
            <img src="https://img.theculturetrip.com/1024x/smart/images/56-3692935-143513949671fda6e7c88c4475b1a07240cebfec7e.jpg" />
            <h4>Ossolineum garden</h4>
          </a>
          <p>The charming Baroque garden is surrounded by Ossolineum – a historical non-profit foundation dating back to the partitions of Poland, which contributed substantially to the development and popularization of Polish literature. Its hedges and the central fountain create an atmosphere of elegance and order. In the center of the garden you can see the monument of the Silesian Baroque poet, Angelus Silesius. The Ossolineum building hosts a large library and reading rooms, worth visiting if you are a fan of Slavonic literatures and history.</p>

          <a class="place" href="http://www.windmilltours.com/" target="_blank">
            <img src="https://img.theculturetrip.com/1024x/smart/images/56-3692924-1435139471e13619c0cf5e403eabde49561ec5e4eb.jpg" />
            <h4>The Monument of an Anonymous Passer-by</h4>
          </a>
          <p>The Monument of an Anonymous Passer-by is constituted by 14 modern, bronze sculptures situated on the Świdnicka street of Wrocław. Amongst the anonymous people you can spot a woman with a child, a man carrying his luggage, an elderly person, and other typical characters we meet every day, no matter where we go. What is special about these sculptures is that as we approach the road, each one of them ‘vanishes’ deeper and deeper into the ground. The monument was originally created by the artist Jerzy Kalina in 1977 and later on moved from one of Wrocław’s museums onto the streets. Although there are many different interpretative possibilities, the monument definitely reminds us of the passing time and our changing with it.</p>
        </div>

        <div>
          <h3>Shopping</h3>

          <a class="place" href="https://magnoliapark.pl/sklepy/" target="_blank">
            <img src="https://s.inyourpocket.com/gallery/213741.jpg" />
            <h4>Magnolia</h4>
          </a>
          <p>Midcentury illustrations, artwork, and funky furniture and props,
          this place is bright and colorful.</p>

          <a class="place" href="https://www.wroclavia.pl/" target="_blank">
            <img src="https://img.investmap.pl/image/197/69/41157_1170x520.jpg" />
            <h4>Wroclavia</h4>
          </a>
          <p>Opened in 2017 this is an incredibly big shopping centre right in the center of Wroclaw. It's nearest to the ceremony location.</p>
        </div>
      </div>

    </div>
  </section>

  <section id="gifts">
    <div class="header">
      <div class="content">
        <h2>Gifts &amp; Registry</h2>
      </div>
    </div>
    <div class="content">

      <p>We already have everything for a happy home and don't need anything else. What we would apperiacte though is you making a donation to one of the charities below.</p>
      <div class="columns">

          <a class="place" href="https://www.cats.org.uk/donate" target="_blank">
            <img src="https://www.cats.org.uk/images/CatsProtection.png" /> </a>



          <a class="place" href="http://kocizakatek.pl/" target="_blank">
            <img src="http://kocizakatek.pl/wp-content/uploads/2017/02/koci-logo.png" />
          </a>
      </div>


    </div>
  </section>

  <footer>

      <div class="details">
        <div>
   <h1> Wedding of the century </h1>
   <h1> Kingusia ❤️ Arek</h1>
          <h3>16 Maj 2020</h3>
          <h3>
            Hotel Platinum Palace<br />
            Wroclaw<br />
          </h3>
        </div>
      </div>

    </div>
  </footer>

  <% include partials/analytics.html.ejs %>
</body>
</html>
