<html>
<head>
  <% include partials/meta.html.ejs %>
  <link rel="stylesheet" href="/style2.css" />
  <script src="//use.typekit.net/ohd3igy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body class="rsvp" onload="document.body.setAttribute('class','rsvp loaded')">
<header>
  <div class="meat">
    <a href="/" target="_blank">

        <div>
   <h1> Ślub stulecia </h1>
   <h1> Kinga ❤️ Arek</h1>
          <h3>16 Maj 2020</h3>
          <h3>
            Hotel Platinum Palace<br />
            Wrocław<br />
          </h3>
        </div>
      </div>

      </a>
    </div>
  </header>

  <section>
    <div class="content">

      <h4><%= emoji %>, czy dołaczysz do nas w tym wspaniałym dniu?</h4>


      <form id="rsvp" method="post" action="/<%= emoji %>/rsvp-pl">

        <input class="attending-radio" id="attending-yes" type="radio" name="attending" value="yes" onchange="updateAttendance(this.form)" />
        <label for="attending-yes">
          Będę tam!
        </label>

        <input class="attending-radio" type="radio" id="attending-no" name="attending" value="no" onchange="updateAttendance(this.form)" />
        <label for="attending-no">
          Przepraszam, niestety nie mogę.
        </label>

        <div class="other-questions" id="attending-no-form" style="display: none;">
          <h4>Przykro nam z tego powodu.</h4>

          <label>
            Chcesz nam coś przekazać?
            <textarea name="noMessage" placeholder="Zostaw nam wiadomość!"></textarea>
          </label>
        </div>

        <div class="other-questions" id="attending-yes-form" style="display: none;">
          <h4>Nie możemy się doczekać Ciebie zobaczyć!</h4>

          <input type="hidden" name="party[emoji]" value="on" />

          <div class="event-rsvp">

            <h3>Które menu obiadowe preferujesz?</h3>

            <label>
              <input type="checkbox" name="normal" checked />
              <h4>Normalne</h4>
              <p class="meta">Szczegółowe menu jeszcze ustalamy.</p>
            </label>

            <label>
              <input type="checkbox" name="vege" />
              <h4>Vegetarianskie</h4>
              <p class="meta">Szczegółowe menu jeszcze ustalamy.</p>
            </label>
          </div>

          <label>
            Planujesz przybyć z osoba towarzyszaca?
            <textarea name="plusOne" placeholder="Imie osoby towarzyszacej."></textarea>
          </label>
          <label>
            Czy chcesz zarezerwować pokój w Platinum Palace? (350 PLN za noc z naszymi zniżkami, 10 pokoi obsługiwanych według kolejności zgłoszeń, kto pierwszy ten lepszy. Daj nam znać do 1 kwietnia.)
            <input type="checkbox" name="kids" />

          </label>

          <label>
            Ograniczenia dietetyczne?
            <textarea name="diet" placeholder="Czy cierpisz na alergie?"></textarea>
          </label>

          <label>
            Chcesz nam coś jeszcze przekazać?
            <textarea name="yesMessage" placeholder="Przekaż nam wiadomość!"></textarea>
          </label>
        </div>

        <input id="submit-button" type="submit" value="Wyślij nam odpowiedź." style="display: none;" />
      </form>

        <input id="submit-button" type="submit" value="Send your reply" style="display: none;" />
      </form>
      <script>
        function updateAttendance(form) {
          document.getElementById('attending-yes-form').style.display =
            form.attending.value === 'yes' ? 'block' : 'none';
          document.getElementById('attending-no-form').style.display =
            form.attending.value === 'no' ? 'block' : 'none';

          document.getElementById('submit-button').style.display =
            form.attending.value !== '' ? 'block' : 'none';

          if (form.attending.value) {
            window.location = '#rsvp';
          }
        }
        updateAttendance(document.getElementById('rsvp'));
      </script>

    </div>
  </section>

  <footer>
  </footer>

  <% include partials/analytics.html.ejs %>
</body>
</html>
