<html>
<head>
  <% include partials/meta.html.ejs %>
  <link rel="stylesheet" href="/style2.css" />
  <script src="//use.typekit.net/ohd3igy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body class="rsvp" onload="document.body.setAttribute('class','rsvp loaded')">
<header>
  <div class="meat">
    <a href="/" target="_blank">

        <div>
   <h1> Ślub stulecia </h1>
   <h1> Kinga ❤️ Arek</h1>
          <h3>16 Maj 2020</h3>
          <h3>
            Hotel Platinum Palace<br />
            Wrocław<br />
          </h3>
        </div>
      </div>

      </a>
    </div>
  </header>

  <section>
    <div class="content">

      <h1>Dzieki! Twoja odpowiedź została do nas wysłana.</h2>

    </div>
  </section>

  <footer>
  </footer>

  <% include partials/analytics.html.ejs %>
</body>
</html>
